
.caja_mensajes_publicos {
    min-height: 200px;
    max-height: 400px;
    overflow: auto;

}

.panel_conectados {
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

li.oscura {
    background-color: #F5F5DC !important;
    border-radius: 7px;

}
