div#foto {
    display: flex;
    justify-content: space-around;
}

.caja_perfil {
    -webkit-box-shadow: 3px 3px 3px 0px #484848;
    -moz-box-shadow: 3px 3px 3px 0px #484848;
    box-shadow: 3px 3px 3px 0px #484848;
}


/*-------------------------------------Buscar------------------------------------------*/

.img_buscar {
    width: 40px;
    height: 40px;
}

div.caja_busqueda, div#caja_busqueda {
    width:80% !important;
}
